/*===================================================================
Project Title: Personal Website

File Name: style.css

Author: Sherman Chow
Date: 2017/07/26

Last Modification: 2017/07/31
===================================================================*/


/* Import font */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

/* Initial general settings */


/* ------------------------------------------------------------------- */

html,
body {
    margin: 0px;
    font-family: 'Montserrat';
    background-color: white;
    color: black;
    height: 100%;
    padding: 0;
}

.slider {
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: 0;
    background: black;
}

h1 {
    color: #606060;
    font-weight: 100;
    font-size: 50px;
    clear: left;
    display: block;
}

p {
    line-height: 25px;
}

li {
    line-height: 25px;
}

span {
    float: right;
}


/* ------------------------------------------------------------------- */


/* Content at top of page */


/* ------------------------------------------------------------------- */


/* Navigation bar */

.navbar {
    z-index: 100;
    overflow: hidden;
    background-color: #333;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    /* Set navbar to fixed position */
    top: 0;
    /* Position navbar at top of page */
    width: 100%;
    /* Full width */
    letter-spacing: 1px;
}


/* Menu icon for small window sizes */

.navbar img {
    width: 25px;
    padding: 8px;
    margin: auto;
    display: none;
}

.navbar img:hover {
    opacity: 0.7;
    cursor: pointer;
}

#myMenu {
    text-align: center;
    padding-right: 40px;
}

#myMenu li {
    display: block;
    /* Adjust line height of dropdown menu links */
    line-height: 30px;
}

#myMenu a {
    /* Smooth transition opacity when hover */
    transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
}

#myMenu a:hover {
    opacity: 0.5;
}


/* Align list in center horizontally */

.nav {
    text-align: center;
}

.nav li {
    display: inline;
}


/* Links inside navbar */

.navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    /* Smooth transition opacity when hover */
    transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
}

.nav a:hover {
    opacity: 0.5;
}

.slider-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    float: left;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s linear;
}

.slider-wrapper>.slide:first-child {
    opacity: 1;
}

.name {
    /* Position text in the center of the screen (horizontally & vertically) */
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.name p {
    font-family: 'Montserrat';
    color: white;
    text-align: center;
    font-size: 65px;
}


/* ------------------------------------------------------------------- */


/* About Me Section */


/* ------------------------------------------------------------------- */

#about {
    /*border: 1px solid black;*/
    padding-top: 55px;
    padding-bottom: 80px;
    margin-left: 5%;
    margin-right: 5%;
}

#about h1 {
    text-align: center;
}

#myPhoto {
    margin-left: 30px;
    margin-right: 50px;
    padding-top: 32px;
    float: left;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

#about a {
    text-decoration: none;
    color: inherit;
    color: #5182d1;
}

#resume:hover {
    opacity: 0.7;
}

#first {
    width: 20%;
    float: left;
    margin-right: 70px;
    margin-left: 10%;
}

#second {
    width: 60%;
    float: left;
    margin-bottom: 100px;
}


/* ------------------------------------------------------------------- */


/* Skills Section */


/* ------------------------------------------------------------------- */

#skills {
    padding-top: 55px;
    padding-bottom: 500px;
    background-color: #efefef;
}

#skills h1 {
    text-align: center;
}

#skillsInfo {
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}


/* ------------------------------------------------------------------- */


/* Work Experience Section */


/* ------------------------------------------------------------------- */

#experience {
    padding-top: 55px;
    padding-bottom: 55px;
}

#experience h1 {
    text-align: center;
}


/* ------------------------------------------------------------------- */


/* Education Section */


/* ------------------------------------------------------------------- */

#education {
    padding-bottom: 200px;
}

#education h1 {
    text-align: center;
}


/* ------------------------------------------------------------------- */


/* Technical Projects Section */


/* ------------------------------------------------------------------- */

#technicalProjects {
    padding-top: 55px;
    padding-bottom: 55px;
}

#technicalProjects h1 {
    text-align: center;
}


/* ------------------------------------------------------------------- */


/* Personal Projects Section */


/* ------------------------------------------------------------------- */

#personalProjects {
    padding-bottom: 330px;
}

#personalProjects h1 {
    text-align: center;
}

#projects {
    background-color: #efefef;
}


/* ------------------------------------------------------------------- */


/* Gallery Section */


/* ------------------------------------------------------------------- */

#gallery {
    padding-top: 60px;
    padding-bottom: 60px;
}

#gallery h1 {
    text-align: center;
}

#galleryPhotos {
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-align: center;
}

#galleryPhotos img {
    width: 30vw;
    height: 30vw;
    transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
}

#galleryPhotos img:hover {
    opacity: 0.7;
}


/* ------------------------------------------------------------------- */


/* Contact Info Section */


/* ------------------------------------------------------------------- */

#contact {
    padding-top: 60px;
    padding-bottom: 250px;
}

#contact h1 {
    text-align: center;
}

#left {
    float: left;
}

#right {
    float: right;
}

#contact a {
    text-decoration: none;
    color: inherit;
}

#contactInfo {
    /* Place this div in the center horizontally */
    width: 400px;
    margin: auto;
}

img#icon {
    height: 35px;
    margin: 3px;
    border: 0 none;
    position: relative;
    top: 12px;
    padding-right: 5px;
}

#icon {
    text-decoration: none;
}

img#iconLoc {
    height: 20px;
    margin: 3px;
    border: 0 none;
    position: relative;
    top: 7px;
    padding-right: 5px;
}

#iconLoc {
    text-decoration: none;
}

img#iconStar {
    height: 20px;
    margin-left: 2px;
    border: 0 none;
    position: relative;
    padding-right: 5px;
}

#iconStar {
    text-decoration: none;
}


/* ------------------------------------------------------------------- */


/* Content at bottom of page */


/* ------------------------------------------------------------------- */

footer {
    margin-left: 10vw;
    margin-right: 10vw;
    opacity: 0.7;
}

#backToTop {
    bottom: 0px;
    margin-left: 10vw;
    margin-right: 10vw;
    opacity: 0.4;
}

#backToTop img {
    width: 35px;
    opacity: 1.3;
    transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
}

#backToTop img:hover {
    opacity: 0.4
}

#end {
    background-color: #efefef;
}


/* ------------------------------------------------------------------- */


/* Adjustments depending on window size */


/* ------------------------------------------------------------------- */

@media only screen and (max-width: 400px) {
    /* Links inside navbar */
    /* Place the links all in one column */
    .navbar a {
        display: block;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    /* Make my photo smaller to fit in the center of the page */
    #myPhoto {
        width: 200px;
    }
}

@media only screen and (max-width: 490px) {
    /* Place all contact links in one column */
    #contactInfo {
        width: 170px;
    }
    #left,
    #right {
        float: none;
    }
    #contact {
        padding-bottom: 50px;
    }
    /* Make name smaller on cover photo */
    .name p {
        font-size: 55px;
    }
}

@media only screen and (max-width: 790px) {
    /* Place my photo in the center */
    #myPhoto {
        float: none;
        display: block;
        margin: auto;
    }
    /* Place the about me text under my photo */
    #about p {
        clear: both;
    }
    /* Hide invidivual navigation links */
    .nav {
        display: none;
    }
    /* Show menu icon for navigation */
    .navbar img {
        display: block;
    }
}

@media only screen and (max-width: 950px) {
    /* Place dates under titles */
    span {
        float: none;
        display: block;
    }
}

@media only screen and (max-width: 1100px) {
    #first {
        height: 100%;
        width: 100%;
        float: none;
        display: block;
        margin: 0;
        margin-top: 50px;
    }
    #second {
        height: 100%;
        width: 100%;
        float: none;
        display: block;
        margin: 0;
        margin-bottom: 50px;
    }
    #education {
        padding-bottom: 55px;
    }
    #personalProjects {
        padding-bottom: 55px;
    }
}

@media only screen and (max-width: 1150px) {
    #skills {
        padding-bottom: 850px;
    }
    #skillsInfo {
        height: 100%;
        width: 100%;
        margin: 0;
        display: block;
    }
}