/*import google fonts*/
@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

html, body {
  width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    padding-bottom: 50px;
}

/*for mobile phones*/
body {
  /*background-color: pink;*/
  background: url(images/kaws2.jpg) no-repeat top center;
  background-size: 100% auto;
}

/*/////////////////////////////////////////////////////////////////////////////////////*/
/*use this so that navigation stays at top of window*/
#parent {
  position: relative;
}

/*for top navigation bar*/
#profile h1 {
  position: fixed;
  font-family: 'Cinzel';
  /*font-size: 22px;*/
  font-size: 6.5vw;
  top: -5px;
  left: 30px;
  width: 100%; 
  color: red;
}
/*navigation menu button*/
#menu-button {
  position: fixed;
  top: 10px;
  right: 30px;
}
#navigation {
  float: right;
  position: relative;
  left: -50%;
  text-align: left;
}
#navigation ul {
  list-style: none;
  position: relative;
  font-family: 'Quicksand';
  left: 50%;
  margin-top: 50px;
}
#navigation li {
  position: relative;
  text-align: center;
  margin-bottom: 15px;
}
#navigation a {
  text-decoration: none;
  color: red;
}

/*/////////////////////////////////////////////////////////////////////////////////////*/
/*About Me Section*/
#about h1 {
  color: blue;
  margin-top: 63vw;
  font-family: 'Cinzel'; 
  /*font-weight: bold;*/
  /*font-size: 22px;*/
  font-size: 5.75vw;
  text-align: center;
}
#about h2 {
  font-family: 'Cinzel'; 
  /*font-size: 18px;*/
  font-size: 5vw;
  text-align: center;
}
#about h3 {
  font-family: 'Quicksand';
  /*font-size: 15px;*/
  font-size: 4vw;
  text-align: center;
}
#about-box {
  background-color: pink;
  margin: 4vw;
  padding: 40px;
}
#about-box img {
  border-radius: 50%;
  width:200px;
  height: 200px;
}
/*icons with links*/
a#icon {
  text-decoration: none;
}
img#icon {
  width: 35px;
  height: 35px;
  margin: 3px;
  border: 0 none;
}






/*for tablets*/
@media only screen and (min-width: 600px) {
  body {
      background-color: yellow;
  }
}



/*for desktop*/
@media only screen and (min-width: 768px) {
  body {
      background-color: lightblue;
  }
}