/*import google fonts*/
@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  padding-bottom: 0px;
}

/*for mobile phones*/
body {
  /*background-color: pink;*/
  background: url(images/kaws_original.jpg) no-repeat top center;
  background-size: 100% auto;
}

/*/////////////////////////////////////////////////////////////////////////////////////*/
/*use this so that navigation stays at top of window*/
#parent {
  position: relative;
}

/*for top navigation bar*/
#profile h1 {
  /*position: fixed;*/
  font-family: 'Cinzel';
  /*font-size: 22px;*/
  font-size: 6.5vw;
  margin-left: 7vw;

  /*top: -5px;*/
  /*left: 30px;*/
  width: 100%; 
  color: white;
}
/*navigation menu button*/
#menu-button {
  /*position: fixed;*/
  /*top: 10px;*/
  /*right: 30px;*/
  float: right;
  margin-top: -13vw;
  margin-right: 7vw;
}
#menu-button:hover {
  opacity: 0.6;
}
#navigation {
  float: right;
  position: relative;
  left: -50%;
  text-align: left;

}
#navigation ul {
  width: 280px;
  list-style: none;
  position: relative;
  left: 50%;
  /*margin-top: 50px;*/
  margin-top: -3vw;
  /*border:1px solid red;*/
  background-color: black;
  background-color:rgba(0, 0, 0, 0.7);
}
#navigation li {
  position: relative;
  text-align: center;
  font-family: 'Quicksand';
  margin-bottom: 15px;
  margin-left: -35px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#navigation a {
  text-decoration: none;
  color: white;
}
#navigation a:hover {
  opacity: 0.5;
}

/*/////////////////////////////////////////////////////////////////////////////////////*/
/*About Me Section*/
#about h1 {
  /*margin-top: 63vw;*/
  margin-top: 62vw;
  margin-bottom: 30px;
  font-family: 'Cinzel'; 
  /*font-weight: bold;*/
  /*font-size: 22px;*/
  font-size: 5.75vw;
  text-align: center;
}
#about h2 {
  font-family: 'Cinzel'; 
  /*font-size: 18px;*/
  font-size: 5vw;
  text-align: center;
}
#about h3 {
  font-family: 'Quicksand';
  /*font-size: 15px;*/
  font-size: 4vw;
  text-align: center;
}
#about-profile-box {
  background-color: lightblue;
  margin-left: 4vw;
  margin-right:4vw;
  padding: 40px;
  padding-bottom: 10px;
}
#about-profile-box img {
  border-radius: 50%;
  width:200px;
  height: 200px;
}
/*icons with links*/
a#icon {
  text-decoration: none;
}
img#icon {
  width: 35px;
  height: 35px;
  margin: 3px;
  border: 0 none;
}

#about-contents-box {
  background-color: lightblue;
  margin-left: 4vw;
  margin-right:4vw;
  padding: 40px;
  padding-top: 10px;
}

#about-contents-box p {
  font-family: 'Quicksand';
  font-size: 3.5vw;
}



/*/////////////////////////////////////////////////////////////////////////////////////*/
/*Gallery Section*/
#gallery h1 {
  text-align: center;
  font-family: 'Cinzel';
  font-size: 5.75vw;
  margin-top: 15vw;
  margin-bottom: 8vw;
}

#gallery img {
  margin: 1.5vw;
  opacity: 0.6;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

#gallery img:hover {
  opacity: 1;
}

/*crop image to square*/
.container {
  float: left;
  width: 190px;
  height: 190px;
  overflow: hidden;
}
.container img {
  float: left;
  width: 100%;
}

#appear_image_div {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #002447;
  opacity: 0.7;
  z-index: 10;
}
#appear_image {
  width: 100%;
  display: block;
  margin: auto;
  position: relative;
  z-index: 11;
}



/*/////////////////////////////////////////////////////////////////////////////////////*/
/*Contact Section*/
#contact {
  width: 65%;
  margin: auto;
}

#contact h1 {
  text-align: center;
  font-family: 'Cinzel';
  font-size: 5.75vw;
  font-weight: bold;
  /*margin-top: 50vw;*/
  padding-top: 10vw;
  margin-bottom: 30px;
}

#contact img {
  width: 40px;
  height: 40px;
  /*margin: 15px;*/
  margin-bottom: 20px;
  margin-left: 40px;
  border: 0 none;
  display: block;
}

#contact p {
  font-family: 'Quicksand';
  /*font-size: 3.5vw;*/
  font-size: 15px;
  text-align: left;
  margin-bottom: 42px;
}

#parent1, #parent2 {
  width:110px;
  height:110px;
  /*border:1px solid red;*/
  float:left;
}

/*for when window gets a little bit larger*/
/*#contact img {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
  margin-left: 17vw;
  border: 0 none;
  display: block;
}

#contact p {
  font-family: 'Quicksand';
  font-size: 15px;
  text-align: left;
  margin-bottom: 42px;
  margin-left: 2vw;
}

#parent1, #parent2 {
  width:150px;
  height:150px;
  float:left;
}*/

#parent1 {
  padding-top: 6px;
}

/*back-to-top button*/ 
#back-to-top {
  /*position: fixed;*/
  bottom: 0px;
  left: 50%;
}
#back-to-top img {
  width: 30px;
  opacity: 0.5;
}

#back-to-top:hover {
  opacity: 0.45;
}



/*for tablets*/
@media only screen and (min-width: 600px) {
  body {
      background-color: yellow;
  }
}



/*for desktop*/
@media only screen and (min-width: 768px) {
  body {
      background-color: lightblue;
  }
}